<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" href="admin.css" >
</head>
<body>
<div id="Head"> 
    <h1>Welcome In Admin Page</h1>
</div>
<div id="list">
    <h1>Choose The Link Below</h1>
    <ul>
<li>
     <a href="/shop" id="shop">Shop Page</a>
</li>
<li>
    <a href="/add-product" id="product">Product Page</a>  
</li>
    </ul>
</div>
</body>
</html>