/js<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    <link rel="stylesheet" type="text/css" href="product.css" >
</head>
<body>
    <div id="background">
    <div id="Head">
        <h1 style="color:bisque">Welcome To The Product Page</h1>
        <div class="box">
        <form action="/add-product" method="POST">
            <!-- <label for="text" >text</label> -->
            <input type="text" name="title" id="sizebox">
            <button type="submit">Add Product</button>
        </form>
    </div>
</div>
<nav>
    <h1  style="margin-left:10px">Choose The Link Given Below</h1>    
    <div id="href">
    <ul>
      <li><a href="/shop" style="color:darkblue">Shop Page</a></li> 
      <li><a href="/">Admin Page</a></li>
    </ul>
</div>
</nav>
</div> 
</body>
</html>